
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#b2c2bf,#eaece5);
  background-attachment: fixed;
}

.kontejner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vmin;
}

.content {
  background-color: #eaece5;
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #888888;
}

.kontakty {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.photo {
  border-radius: 50px;
  width: 200px;
  box-shadow: 2px 2px 10px #888888;
}

.name {
  font-size: 30px;
  margin-bottom: 5px;
  color: #8b6f47;
}

.lindkin {
  width: 10%;
}

.gitHub {
  width: 10%;
  filter: invert(100%);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8b6f47;
}